<div class="post-author-container">
  <div class="post-author-ic">
    <%= link_to user do %>
      <%= user_avatar_image(user: user) %>
    <% end %>
  </div>
  <div class="post-author-info">
    <%= link_to user, class: "d-inline-block", data: { "turbo-frame": "_top" } do %>
      <div class="name"><%= user.full_name %></div>
      <div class="username">@<%= user.username %></div>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="follow-button-container">
      <%= render partial: "relationships/button", locals: {current_user: current_user, followee: user} %>
    </div>
  <% end %>
</div>
