<section class="holygrail-content users-show">
  <div class="profile-container">
    <div class="w-940">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-4 d-flex align-items-center justify-content-center">
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, class: "user-profile-img" %>
            <% else %>
              <%= image_tag "person-placeholder.jpg", class: "user-profile-img" %>
            <% end %>
          </div>
          <div class="col-8">
            <div class="username-container">
              <%= link_to @user do %>
                <h2><%= @user.full_name %> <span>@<%= @user.username %></span></h2>
              <% end %>
              <% if current_user != @user %>
                <div>
                  <div class="btn-group">
                    <%# TODO %>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Following
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="#">Unfollow</a></li>
                    </ul>
                  </div>
                </div>
              <% end %>
            </div>
            <ul class="stats-container">
              <li><b>3,014</b> posts</li>
              <li><b>2.1M</b> followers</li>
              <li><b>23</b> following</li>
            </ul>
            <div class="bio-container">
              <% if @user.bio.blank? %>
                <em class="d-block mb-3">You don't have a bio</em>
                <%= link_to "Add Bio", users_edit_details_path, class: "btn btn-primary" %>
              <% else %>
                <p><%= @user.bio %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <%# Will populate from app/views/posts/show.html.erb %>
  <%# turbo_frame_tag "post-show-modal-container" %>

  <div class="posts-container">
    <div class="w-940">
      <div class="container">
        <div class="row g-lg-5 g-md-1">
          <% @posts.each do |post| %>
            <%= render post %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
