<% if user_signed_in? %>
  <div class="post-container">
    <div>
      <% if current_user.avatar_background.attached? %>
        <%= image_tag current_user.avatar_background_as_thumbnail, class: "my-profile-bg" %>
      <% else %>
        <%= image_tag "bg-placeholder", class: "my-profile-bg" %>
      <% end %>
    </div>
    <div class="my-profile-body">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar_as_thumbnail, class: "my-profile-pic" %>
      <% else %>
        <%= image_tag "person-placeholder.jpg", class: "my-profile-pic" %>
      <% end %>
      <h3 class="my-profile-name"><%= current_user.full_name %></h3>
      <h5 class="my-profile-username">@<%= current_user.username %></h5>
      <p class="my-profile-info"><%= current_user.bio %></p>
      <div class="my-profile-follow-container">
        <div class="my-profile-following-count">
          <a href="#">
            6,791
            <b>Following</b>
          </a>

        </div>
        <div class="my-profile-followers-count">
          <a href="#">
            3,286
            <b>Followers</b>
          </a>

        </div>
      </div>

      <%= link_to "View My Profile", current_user, class: "my-profile-link blue-link" %>
    </div>

  </div>
  <div class="post-container py-4">
    <div class="container px-4">
      <div class="row">
        <h3>Who to Follow</h3>
      </div>
      <div class="row">
        <div class="col post-author-ic">
          <img src="https://cdn.dribbble.com/users/1788965/avatars/small/7723792f45aa188dd25e5d4167dbe8b6.jpeg" alt="">
        </div>
        <div class="col post-author-info">
          <div class="name">
            <a href="#">
              Product Hunt
            </a>
          </div>

        </div>
        <div class="col">
          <a href="#" class="btn btn-primary">Follow</a>
        </div>
      </div>
    </div>
  </div>

<% end %>
