<% if user_signed_in? %>
  <div class="post-container">
    <div>
      <%= user_avatar_background_image(user: current_user, class_name: "my-profile-bg") %>
    </div>
    <div class="my-profile-body">
      <%= user_avatar_image(user: current_user, class_name: "my-profile-pic") %>
      <h3 class="my-profile-name"><%= current_user.full_name %></h3>
      <h5 class="my-profile-username">@<%= current_user.username %></h5>
      <p class="my-profile-info"><%= current_user.bio %></p>
      <div class="my-profile-follow-container">
        <div class="my-profile-following-count">
          <%= turbo_frame_tag "followees-modal-button" do %>
            <%= link_to user_followees_path(current_user.username) do %>
              <b><%= current_user.followees.size %></b> following
            <% end %>
          <% end %>
        </div>
        <div class="my-profile-followers-count">
          <%= turbo_frame_tag "followers-modal-button" do %>
            <%= link_to user_followers_path(current_user.username) do %>
              <b><%= current_user.followers.size %></b> followers
            <% end %>
          <% end %>
        </div>
      </div>

      <%= link_to "View My Profile", current_user, class: "my-profile-link blue-link" %>
    </div>

  </div>
  <%# Who to follow: %>
  <div class="post-container py-4 follow-suggestions">
    <div class="container px-4">
      <div class="row">
        <h3>Who to Follow</h3>
      </div>
      <% @users_to_follow.each do |user| %>
        <div class="user-container">
          <div class="post-author-ic">
            <%= user_avatar_image(user: user) %>
          </div>
          <div class="post-author-info">
            <div class="name">
              <%= link_to user.full_name, user %>

            </div>
            <div class="username">
              @<%= user.username %>
            </div>

          </div>
          <div class="">
            <% if user_signed_in? %>
              <%= render partial: "relationships/button", locals: {current_user: current_user, followee: user} %>
            <% else %>
              <%= link_to "Follow", new_user_session_path, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
