<div class="post-container px-2">
  <div class="px-3">
    <h3>Trending on Instaclone</h3>
    <h5 class="sub">Trending in United States</h5>
    <div class="trending-tag-container d-flex">
      <div class="left">
        <a href="#" class="trending-link">
          <div class="trending-tag">#<%= Faker::Artist.name %></div>
          <div class="trending-tag-count"><%= rand(1..999) %>K Mentions</div>
        </a>
      </div>
      <div class="right"><i class="fa-solid fa-ellipsis"></i></div>
    </div>
    <div class="trending-tag-container d-flex">
      <div class="left">
        <a href="#" class="trending-link">
          <div class="trending-tag">#<%= Faker::Artist.name %></div>
          <div class="trending-tag-count"><%= rand(1..999) %>K Mentions</div>
        </a>
      </div>
      <div class="right"><i class="fa-solid fa-ellipsis"></i></div>
    </div>
    <div class="trending-tag-container d-flex">
      <div class="left">
        <a href="#" class="trending-link">
          <div class="trending-tag">#<%= Faker::Sports::Basketball.team %></div>
          <div class="trending-tag-count"><%= rand(1..999) %>K Mentions</div>
        </a>
      </div>
      <div class="right"><i class="fa-solid fa-ellipsis"></i></div>
    </div>
  </div>
  <hr>
  <div class="px-3">
    <h5 class="sub">Trending in Sports</h5>
    <div class="trending-tag-container d-flex">
      <div class="left">
        <a href="#" class="trending-link">
          <div class="trending-tag">#<%= Faker::Sports::Basketball.team %></div>
          <div class="trending-tag-count"><%= rand(1..999) %>K Mentions</div>
        </a>
      </div>
      <div class="right"><i class="fa-solid fa-ellipsis"></i></div>
    </div>
  </div>
</div>
