<%# Partial used by home/index.html.erb and posts/show.html.erb %>
<div class="post-container" id="<%= dom_id post %>">
  <div class="post-image-container">
    <% if controller_name == "home" && action_name == "index" %>
      <%= render partial: "posts/post_author_container", locals: {post: post} %>
    <% end %>
    <%= image_tag post.image, class: "post-image" %>
  </div>
  <div class="post-items-container">
    <% if controller_name != "home" %>
      <%= render partial: "posts/post_author_container", locals: {post: post} %>
    <% end %>
    <div class="post-actions">
      <div class="left">
        <button class="btn-fa"><i class="fa-regular fa-heart"></i></button>
        <button class="btn-fa"><i class="fa-solid fa-heart liked"></i></button>
        <button class="btn-fa"><i class="fa-regular fa-comment"></i></button>
      </div>
      <div class="right">
        <button class="btn-fa"><i class="fa-regular fa-bookmark"></i></button>
      </div>

    </div>
    <div class="post-stats">
      <div class="likes-count">0 likes</div>
      <div class="comments-count"><%= pluralize(post.comments.size, 'Comment') %></div>
    </div>
    <div class="comments-container">
      <%# The first comment is the post's caption %>
      <% if !post.caption.blank? %>
        <div class="comment">
          <div class="comment-content">
            <%= link_to post.user.username, post.user %> <%= post.caption %>
          </div>
          <div class="comment-like"><button class="btn-fa"><i class="fa-regular fa-heart"></i></button></div>
        </div>
      <% end %>

      <% if controller_name == "home" && action_name == "index" %>
        <%# TODO: Render comment with most number of likes %>
        <%= render post.comments.first %>

        <%# "View all 32 comments" link %>
        <% if post.comments.size > 1 %>
          <%= link_to "View all #{post.comments.size} comments", post, class: "view-all-link" %>
        <% end %>
      <% else %>
        <%# Render all comments %>
        <% post.comments.each do |comment| %>
          <%= render comment %>
        <% end %>
      <% end %>

    </div>
    <div class="new-comment-container">
      <%= form_with(model: [post, post.comments.new], class: "new-comment-form") do |form| %>
        <%= form.text_area :body, class: "form-control" %>
        <%= form.submit "Post", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
