<%# Partial used by home/index.html.erb and posts/show.html.erb %>
<% if controller_name == "posts" && action_name == "show" %>
  <div class="back-container">
    <%= link_to 'javascript:history.back()' do %>
      <i class="fa-solid fa-arrow-left"></i> Go Back
    <% end %>
  </div>
<% end %>

<div class="post-container" id="<%= dom_id post %>">
  <div class="post-image-container">
    <% if controller_name == "home" && action_name == "index" %>
      <%= render partial: "posts/post_author_container", locals: {post: post} %>
      <%= link_to post do %>
        <%= image_tag post.image, class: "post-image" %>
      <% end %>
    <% else %>
      <%= image_tag post.image, class: "post-image" %>
    <% end %>
  </div>
  <div class="post-items-container">
    <% if controller_name != "home" %>
      <%= render partial: "posts/post_author_container", locals: {post: post} %>
    <% end %>
    <div class="post-actions">
      <div class="left d-flex">
        <div class="like-btn-container">
          <%= render partial: "likes/button", locals: {likeable: post} %>
        </div>
        <button class="btn-fa"><i class="fa-regular fa-comment"></i></button>
      </div>
      <div class="right">
        <button class="btn-fa"><i class="fa-regular fa-bookmark"></i></button>
      </div>

    </div>
    <div class="post-stats">
      <div class="likes-count">
        <%= pluralize(post.likes.size, 'like') %>
      </div>
      <div class="comments-count">
        <%= link_to pluralize(post.comments.size, 'Comment'), post %>
      </div>
    </div>
    <div class="comments-container" id="<%= dom_id(post, "comments_container") %>">
      <%# The first comment is the post's caption %>
      <% if !post.caption.blank? %>
        <div class="comment">
          <div class="comment-content">
            <%= link_to post.user.username, post.user %> <%= post.caption %>
          </div>
        </div>
      <% end %>

      <% if controller_name == "home" && action_name == "index" %>
        <%# TODO: Render comment with most number of likes %>
        <%= render post.comments.first %>

        <%# "View all 32 comments" link %>
        <% if post.comments.size > 1 %>
          <%= link_to "View all #{post.comments.size} comments", post, class: "view-all-link" %>
        <% end %>
      <% else %>
        <%# Render all comments that don't have parents %>
        <%# _comment.html.erb partial will look for comment responses and display them %>
        <%# Quicker to display id in asc order rather than created_at in asc order %>
        <%= render post.comments.where(parent_id: nil).order(id: :asc) %>
      <% end %>

    </div>
    <div class="new-comment-container">
      <div id="<%= dom_id(post) %>_replying_message"></div>
      <%= render partial: "comments/form", locals: { post: post, comment: post.comments.new } %>
    </div>
  </div>
</div>
