<div class="logo-container">
  <%= link_to root_path do %>
    <%= image_tag "instaclone-white-logo.png", class: "logo" %>
    <%= image_tag "instaclone-white-text.png", class: "logo-text" %>
  <% end %>
</div>
<div class="search-container">
  <input type="text" class="form-control main-search" placeholder="Search">
</div>
<div class="nav-container">
  <ul class="main-nav">
    <li class="nav-item active">
      <%= link_to root_path, class: "nav-item-link" do %>
        <div class="fa-container"><i class="fa-solid fa-house"></i></div>
        <div class="nav-item-name">Home</div>
      <% end %>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-item-link">
        <div class="fa-container"><i class="fa-solid fa-envelope"></i></div>
        <div class="nav-item-name">Mail</div>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-item-link">
        <div class="fa-container"><i class="fa-solid fa-bell"></i></div>
        <div class="nav-item-name">Bell</div>
      </a>
    </li>
    <li class="divider"></li>
    <% if user_signed_in? %>
      <li class="dd">
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle dd-btn" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            <img src="https://cdn.dribbble.com/users/1788965/avatars/small/7723792f45aa188dd25e5d4167dbe8b6.jpeg" alt="" class="dd-btn-avatar">
            <span>@helloworld</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><button class="dropdown-item" type="button">View Profile</button></li>
            <li><button class="dropdown-item" type="button">Edit Profile</button></li>
            <li><button class="dropdown-item" type="button">Sign Out</button></li>
          </ul>
        </div>
      </li>
    <% else %>
      <li class="nav-item active dark">
        <%= link_to new_user_session_path, class: "nav-item-link" do %>
          <div class="nav-item-name">Log In</div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
