<!DOCTYPE html>
<html>
  <head>
    <title>Instaclone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render "layouts/messages" %>
    <header class="site-header">
      <%= render partial: "layouts/header" %>
    </header>
    <main class="holygrail-body">
      <%= yield %>
    </main>
    <footer>
      <button onclick="returnToTop()" id="return-to-top" class="btn btn-primary" title="Go to top"> <i class="fa-solid fa-arrow-up"></i>
      </button>
      Copyright <%= Date.today.year %> Instaclone. Designed by <%= link_to "DC", "https://github.com/overdrivemachines" %>
    </footer>
  </body>
</html>
