<!DOCTYPE html>
<html>
  <head>
    <title>Instaclone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!--
    <div id="loader" style="align-items:center; display:flex; height:100%; justify-content:center; left:0; position:fixed; top:0; width:100%; z-index:999; background-color:rgba(#101010, 0.8);" height="100%" width="100%">
      <%= image_tag "loader.svg", alt: "Loading" %>
    </div>
    -->
    <%= render "layouts/messages" %>
    <header class="site-header">
      <%= render partial: "layouts/header" %>
    </header>
    <main class="holygrail-body">
      <%= yield %>
    </main>
    <footer>
      <button onclick="returnToTop()" id="return-to-top" class="btn btn-primary" title="Go to top"> <i class="fa-solid fa-arrow-up"></i>
      </button>
      <div>
        <%= debug(params) if Rails.env.development? %>
      </div>
      <div>
        Copyright <%= Date.today.year %> Instaclone. Designed by <%= link_to "DC", "https://github.com/overdrivemachines" %>
      </div>
    </footer>
  </body>
</html>
